.registerContent {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 270px;
    background-color: #8a2be2ba;
    width: 431px;
    height: auto;
    margin: auto;
    margin-top: 25px;
    border: 2px solid rgb(255, 255, 255);
    align-content: center;
    justify-items: center;
    justify-content: center;
    /* margin-bottom: 280px; */
    padding: 20px;

}


#registerForm {
    display: inline-block;
    margin: auto;
    padding-right: 50px;
    padding-left: 26px;

}

#submitBtn {
    margin-top: 8px;
    box-sizing: border-box;
    background-color: rgb(138 43 226);
    color: white;
    margin-left: 76px;
    margin-top: 42px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid rgb(252, 252, 252);
}

#submitBtn:hover {
    margin-top: 8px;
    box-sizing: border-box;
    background-color: rgb(34, 34, 34);
    color: white;
    margin-left: 76px;
    margin-top: 42px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid rgb(252, 252, 252);
}

#textField {


    color: rgb(255, 255, 255);
    font-size: 16px;
    /* background-color: blueviolet; */
    background-color: #892be200;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;

}